<div class="card m-b-30">
  <div class="card-body row">
     <div class="col-6">
      <img src="assets/user.jpg" class="userImage mx-auto d-block img-fluid"/>
     </div>
     <div class="col-6 card-title align-self-center mb-0">
        <h5>{{driver?.name + ' ' + driver?.surname}}</h5>
        <p class="m-0">{{driver?.vehicleType}}</p>
     </div>
  </div>
  <ul class="list-group list-group-flush">
     <li class="list-group-item"><i class="fa fa-envelope float-right"></i>{{driver?.email}}</li>
     <li class="list-group-item"><i class="fa float-right"></i>Base Fare Price : {{driver?.baseFarePrice}}</li>
     <li class="list-group-item"><i class="fa float-right"></i>Base Fare Distance : {{driver?.baseFareDistance}}</li>
  </ul>
  <div class="card-body">
     <div class="float-right btn-group btn-group-sm">
        <a (click)="onUpdateDriver(driver?.id)"
            role="button" 
            class="btn btn-primary tooltips" 
            data-placement="top" 
            data-original-title="Edit"
            id="driver-button"
         ><i class="fa fa-pencil">Edit</i></a>
         
            <a
               (click)="onDeleteDriver(driver?.id)"  
               type="button" 
               class="btn btn-secondary tooltips" 
               data-placement="top" 
               data-original-title="Delete"
               id="driver-button"
            ><i class="fa fa-times">Delete</i></a>

            <!-- Delete Modal -->
            <div class="modal fade" id="deleteDriverModal" tabindex="-1" role="dialog" aria-labelledby="deleteModelLabel" aria-hidden="true">
               <div class="modal-dialog">
                  <div class="modal-content">
                     <!-- Modal Header -->
                     <div class="modal-header">
                        <h5 class="modal-title" id="deleteModelLabel">Delete Driver</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                     </div>
                     <!-- Modal body -->
                     <div class="modal-body">
                        <p>Are you sure you want to delete driver {{driver?.name + ' ' + driver?.surname}}?</p>
                        <div class="modal-footer">
                           <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                           <button (click)="onDeleteDriver(driver.id)" class="btn btn-danger" data-bs-dismiss="modal">Yes</button>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         
     </div>
  </div>
</div>


